# Setup files
**/__pycache__
**/.vscode/
**/dev
**personal.yaml
poetry.lock

# User specific files
**/logs
**.log
data/input/*.yaml
data/input/training/*.yaml
data/output/*
data/elasticsearch/data/*
data/elasticsearch/bulk_data/*_demo.json
data/elasticsearch/bulk_data/counters.json
data/elasticsearch/bulk_data/projects.json
data/elasticsearch/bulk_data/sessions.json
config.py
web_scraper/utils/check_bookings.py
