# Setup files
**/env/
**/__pycache__
**/.vscode/
**/dev
**personal.yaml
# User specific files
**.log
data/input/*.yaml
data/input/training/*.yaml
data/output/*
data/elasticsearch/bulk_data/*_demo.json
data/elasticsearch/bulk_data/counters.json
data/elasticsearch/bulk_data/projects.json
data/elasticsearch/bulk_data/sessions.json
config.py
web_scraper/utils/check_bookings.py
