10 08 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./utils/weather.py >> /workspace/logs/cron.log 2>&1 
48 09 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Kanata >> /workspace/logs/cron.log 2>&1  
52 11 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Kanata >> /workspace/logs/cron.log 2>&1  
58 13 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Kanata Coyote_Rock_Gym >> /workspace/logs/cron.log 2>&1  
03 16 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Kanata >> /workspace/logs/cron.log 2>&1  
08 18 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Kanata >> /workspace/logs/cron.log 2>&1  
13 20 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Kanata >> /workspace/logs/cron.log 2>&1  
48 08 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Gatineau >> /workspace/logs/cron.log 2>&1  
52 10 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Gatineau >> /workspace/logs/cron.log 2>&1  
58 12 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Gatineau >> /workspace/logs/cron.log 2>&1  
03 15 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Gatineau >> /workspace/logs/cron.log 2>&1  
08 17 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Gatineau >> /workspace/logs/cron.log 2>&1  
13 19 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Altitude_Gatineau >> /workspace/logs/cron.log 2>&1  
28 11 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Coyote_Rock_Gym >> /workspace/logs/cron.log 2>&1  
28 16 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Coyote_Rock_Gym >> /workspace/logs/cron.log 2>&1  
58 18 * * * cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Coyote_Rock_Gym >> /workspace/logs/cron.log 2>&1  
13 21 * * 1-6 cd /workspace/web_scraper && DOCKER_SCRAPER=true TZ=America/Toronto /usr/bin/python3 ./bookings.py -l Coyote_Rock_Gym >> /workspace/logs/cron.log 2>&1  
